<div class="col-sm-6 col-md-3">
  <div class="card card-proporcional container-ratio" style="width: 18rem;">
    <div class="card-body text-center">
      <img src="{{img}}" class="card-img-top imagen" alt="{{name}}" style="max-height-image: 80%;">
      <h5 class="card-title font-family-2">{{name}}</h5>
    </div>
  </div>
</div>