<hr class="container">
<div class="container">
    <div class="row">
        {{#each dataCard}}

        <div class="container">
            <div class="row">
                {{#each pokemons}}
                {{> card}}
                {{/each}}
            </div>
        </div>

        {{/each}}
    </div>
</div>